<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>

<main class="centered">
    <h3 class="anim" data-animToChilds="false" data-animDirection="topToBottom" data-animDelay="0.6">Set New Password!</h3>
    <% if(errorMessage) { %>
        <div class="error_popup"><%= errorMessage %></div>
    <% } %>
    <form class="add-product__form anim" data-animchilddelays="0.05" action="/new-password" method="POST">

        <label class="add-product__label" for="newPassword">New Password</label>
        <input class="add-product__input" type="password" name="newPassword">

        <label class="add-product__label" for="confirmPassword">Confirm Password</label>
        <input class="add-product__input" type="password" name="confirmPassword">

        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="add-product__button login" type="submit">Update Password</button>
    </form>
</main>

<script>
    let titleInput = document.querySelector('.add-product__input');
    titleInput.focus();
</script>
<%- include('../includes/end.ejs') %>