<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('../includes/navigation.ejs') %>

<main class="">
    <h3 class="stayLeft anim" data-animToChilds="false" data-animDirection="topToBottom" data-animDelay="0.6">Signup!</h3>
    <% if(errorMessage) { %>
        <div class="error_popup"><%= errorMessage %></div>
    <% } %>
    <form class="add-product__form anim" data-animchilddelays="0.05" action="/signUp" method="POST" novalidate>
        <label class="add-product__label" for="name">Full Name</label>
        <input class="add-product__input <%= validationErrors.find(i => i.param === 'name') ? 'invalid' : '' %>" type="text" name="name" value="<%= oldInput.name %>">

        <label class="add-product__label" for="email">Email</label>
        <input class="add-product__input <%= validationErrors.find(i => i.param === 'email') ? 'invalid' : '' %>" type="email" name="email" value="<%= oldInput.email %>">

        <label class="add-product__label" for="password">Password</label>
        <input class="add-product__input <%= validationErrors.find(i => i.param === 'password') ? 'invalid' : '' %>" type="password" name="password" value="<%= oldInput.password %>">

        <label class="add-product__label" for="confirmPassword">Confirm Password</label>
        <input class="add-product__input <%= validationErrors.find(i => i.param === 'confirmPassword') ? 'invalid' : '' %>" type="password" name="confirmPassword" value="<%= oldInput.confirmPassword %>">

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="add-product__button login" type="submit">Signup</button>
    </form>
</main>

<script>
    let titleInput = document.querySelector('.add-product__input');
    titleInput.focus();
</script>
<%- include('../includes/end.ejs') %>